<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'how-to-follow' %>
    </div>
  </div>
</section>


